a,
:link,
.link {
  --link-color: var(--primary-color);

  color: var(--link-color);
  text-decoration: none;
  border-bottom: var(--border-size-1) solid var(--link-color);
}

a:hover,
:link:hover,
.link:hover {
  --link-color: var(--primary-color);
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--double-gap);
}

.default-layout {
  --default-layout-width: var(--desktop-width);

  margin: 0 auto;
  max-width: var(--default-layout-width);
}
